<div class="wrapperlogin">

    <div class="loginForm">
        <h4>Login Form</h4>
        {{message}}
        <div class="row">
            
            <form [formGroup]="loginForm">
                <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        <div *ngIf="submitted && f.email.errors" >
                          <small>
                            <div class="cl-red" *ngIf=" f.email.errors.required"> Email is required</div>
                            <div class="cl-red" *ngIf="f.email.errors.email">Email must be a valid email address</div>
                          </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                        <div *ngIf="submitted && f.password.errors" >
                           <small>
                            <div class="cl-red" *ngIf=" f.password.errors.required"> Password is required</div>
                           </small> 
                        </div>
                      </div>
                </div>
            </div>
                
            
                <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
              </form>
        </div>
        
    </div>
 
</div>
