
.body{
    /* background-color: rgb(171, 216, 216); */
    background-color: #D7D7D7;
}
.bodywrapperdashboard{
    padding: 10px;
}
/* .image{
    width: 100px;
    height: 70px;
    padding-bottom: 0px;
} */
.header{

        border-bottom: 2px solid #9090c7;

}
.headercontent{
    margin: 30px 0 -9px 20px;
  
}

.details{
    background-color: white;
    margin: 15px;
   
}


.task{
    background-color: white;
    margin: 16px 1px 0 0px;
    border-radius: 3px;
}
.brd{
    border-radius: 2px;
}
.spcl{   
        margin: 0px 0px 20px 0px;
}

.one-heading{
    padding: 170px;
}
.two-heading{
    padding: 130px;
}

/* .first-heading{
    border-radius: 1px solid white;
} */

.ft6{
    font-size: 12px;
    font-weight: 400;
    color: grey;
}

.ft7{
    font-size: 9px;
    font-weight: 700;
    color: grey;
}
 .ft4{
    font-size: 14px;
    font-weight: 600;
    color: grey;
   
} 

.ftp{
    font-size: 12px;
    font-weight: 700;
    color: #2FA9F5; 
}

.heading{
    font-size: 16px;
    font-weight: 700;
    color: grey;
   
}

.box{
    display: flex;
    flex-direction: column;
}

.mid-content{
    
    background-color: #F4F0EF;
    border-radius: 10px;
}


.bx{
    padding: 150px;
    background-color: #F4F0EF;
    border-radius: 1px rgb(198, 219, 219);
}

.tsk{
    background-color: white;
    border-radius: 3px;
    padding: 10px;
}
.tsk2{
    padding: 153px;
     background-color: #F4F0EF;
 }
.cstm-clr{
    color: #2FA9F5;
}

.relative{
    position: relative;
    right: 30px;
    bottom: 20px;
}
.time{
    margin-right: 80px;
}

.first{
    border: 1px solid #2FA9F5;
}