<div class="wrapperdashboard">
    <div class="header">

        <div class="row headercontent">


            <div class="row">
                <div class="col-md-1 relative">
                    <img src="assets/img1.jpg" class="image px-3" style="width:120px;">
                </div>
                <div class="col-md-10">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" placeholder="Search" />
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-primary spcl">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>

                        <p class="ms-4 ft6 mt-4"> Production > Dying Recipies > Cow</p>
                    </div>
                </div>
                <div class="col-md-1 relative ">
                    <img src="assets/img3.png" class="image px-3" style="width:100px;">
                </div>
            </div>
            <span>

            </span>

        </div>
    </div>

    <div class="body">

        <div class="row">
            <div class="col-md-2 details ms-5">

                <div class="row first">
                    <div class="col-md-12  px-4 py-2">
<p class="float-md-end"> <i class="fa-solid fa-x" ></i></p>
<br>
                        <p class="nav-link align-middle px-0 d-flex heading">
                            <i class="fa-solid fa-user-tie me-2 mt-1"></i><span class="ms-1 flex-wrap">
                                Faraz Mirza
                            </span>
                        </p>
                    </div>
                    <div class="col-md-12 text-center px-4 py-2">
                        <p class="nav-link align-middle px-0 d-flex heading">
                            <i class="fa fa-bell me-2 mt-1 cstm-clr"></i><span
                                class="ms-1 d-none d-sm-inline cstm-clr">Notification</span>
                        </p>

                        <hr>
                        <p class="nav-link align-middle px-0 d-flex ft7">
                            <i class="fa-solid fa-gear me-2 mt-1 cstm-clr"></i><span class="ms-1 flex-wrap">
                                Mirza Internation added a new documents of Buffcow T1 Color Brown Invoice
                            </span>
                        </p>
                        <p class="nav-link align-middle px-0 text-center d-flex ft7">
                            <i class="fa-solid fa-gear me-2 mt-1 cstm-clr"></i><span class="ms-1 flex-wrap">
                                Mirza Internation added a new documents of Buffcow T1 Color
                       <p class="ft7 time cstm-clr"> {{time}}</p>
                            </span>

                        </p>
                        <p class="nav-link align-middle px-0 text-center d-flex ft7">
                            <i class="fa-solid fa-house me-2 mt-1 cstm-clr"></i><span class="ms-1 flex-wrap">
                                Mirza Internation added a new documents of Buffcow T1 Color
                                <br>
                                <small class="ft7 time cstm-clr"> {{time}}</small>
                            </span>
                        </p>
                        <p class="text-right ft7 ms-5 px-2">See all</p>
                    </div>

                    <div class="col-md-12 text-center  px-4 py-2">
                        <p class="nav-link align-middle px-0 d-flex heading">
                            <i class="fa-solid fa-house me-3 mt-1"></i><span class="ms-1 flex-wrap">
                                Home
                            </span>
                        </p>
                        <hr>
                        <p class="nav-link align-middle px-0 d-flex heading">
                            <i class="fa-solid fa-gear me-3 mt-1 cstm-clr"></i><span class="ms-1 flex-wrap cstm-clr">
                                Production

                            </span>
                            <hr style="margin:0.5rem ">
                        <p class="nav-link align-middle px-0 d-flex  ftp">
                            <i class=" me-4 mt-1"> </i> <span class="ms-3 flex-wrap">
                                Dying
                            </span>

                        <p class="nav-link align-middle px-0 d-flex  ftp">
                            <i class=" me-4"> </i> <span class="ms-3 flex-wrap">
                                Finishing
                            </span>
                        <p class="nav-link align-middle px-0 d-flex ftp">
                            <i class=" me-4"> </i> <span class="ms-3 flex-wrap" style="color: grey;">
                                Crusting
                            </span>
                        </p>
                        <p class="nav-link align-middle px-0 text-center d-flex heading">
                            <i class="	fa fa-file-text me-3 mt-1"></i><span class="ms-1 flex-wrap">
                                Reports
                            </span>
                        </p>
                        <p class="nav-link align-middle px-0 text-center d-flex heading">
                            <i class="fas fa-edit me-3 mt-1"></i><span class="ms-1 flex-wrap">
                                Planning
                            </span>
                        </p>
                        <p class="nav-link align-middle px-0 d-flex heading">
                            <i class=" me-3 mt-1">₹</i><span class="ms-1 flex-wrap">
                                Finances
                            </span>
                        </p>
                        <hr>
                        <p class="nav-link align-middle px-0 text-center d-flex heading">
                            <i class="fa fa-angle-down me-3 mt-1"></i><span class="ms-1 flex-wrap">
                                See More
                            </span>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="mid-content">
                    <div class="row mb-1 task">
                        <p class=" mt-3 heading cstm-clr">Tasks</p>

                        <div class="row">
                            <div class="col-md-4 ft4 text-center cstm-clr"> <span class="me-5"> <i class="fa fa-chevron-left"></i></span>Daily
                                <hr style="margin: 0.2rem; border: 2px solid #2FA9F5;">
                            </div>
                            <div class="col-md-4  ft4 text-center">Pending </div>
                            <div class="col-md-4  ft4 text-center">Monthly <span class="ms-5"> <i class="fa fa-chevron-right"></i></span> </div> 
                            
                        </div>

                    </div>
                    <div class="row mb-1">
                        <div class="col-md-12 box">
                            <div class="one-heading details">
                            </div>
                            <div class="two-heading details">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 box brd mt-3">
                <div class="row mb-1">
                    <div class="col-md-12 box">
                        <div class="first-heading">
                            <div class="row tsk">
                                <p class="heading">Trends</p>
                            </div>
                            <div class="row">
                                <p style="background-color: cyan;" class="tsk2">

                                </p>
                            </div>
                        </div>
                        <div class="first-heading">
                            <div class="row tsk">
                                <p class=" heading">Efficiency</p>
                            </div>
                            <div class="row">
                                <p style="background-color: cyan;" class="tsk2">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer text-center">
        <p class="ft4  ft7 ms-5 px-2 me-5 mt-4 cstm-clr"> Innovated By Farzan Mirza</p>
    </div>
</div>